* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* FORMULARIO */

.titulo{
    display: flex;
    width: 40%;
    margin: auto;
    margin-top: 20px;
    justify-content: center;
}

h2{
    font-size: 30px;
    text-shadow: 2px 2px 5px rgb(192, 192, 192);
    
}

label {
    font-weight: bold;
}

.formContact {
    width: 40%;
    margin: auto;
    margin-top: 100px;
}

.camposForm{
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

div.camposForm > label {
    margin-bottom: 10px;
}

#inputEnviar{
    width: 100px;
    height: 40px;
}

.alert{
    background-color: palevioletred;
}

.mensajeAlerta{
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

/* FORMULARIO FIN */

/* CALCULADORA */

.calculadora{
    display: flex;
    margin: auto;
    width: 40%;
    margin-top: 100px;
    justify-content: center;
}

.calculadora > input{
    border-radius: 5px;
    margin: 0 5px 0 5px;
    text-align: center;
    -webkit-appearance: textfield !important;
    -moz-appearance: textfield !important;
}

.operacion{
    display: flex;
    margin: auto;
    width: 40%;
    margin-top: 20px;
    justify-content: center;
}

.operacion > button{
    width: 100px;
    height: 30px;
    font-weight: bold;
    font-size: 15px;
    margin: 0 5px 0 5px;
}
.resultado{
    display: flex;
    margin: auto;
    width: 40%;
    margin-top: 20px;
    justify-content: center;
}

/* CALCULADORA FIN */